/**app.wxss**/
@bg: #FEFEFE; //EDEBE2
@grid: #D7E0E1; //D7E0E1 #e1e1e1

page {
  background:@bg; 
  background-image:
        linear-gradient(@grid 1px, transparent 0),
        linear-gradient(90deg, @grid 1px, transparent 0),
        linear-gradient(@grid 1px, transparent 0),
        linear-gradient(90deg, @grid 1px, transparent 0); 
  background-size: 
      15px 15px,
      15px 15px,
      75px 75px,
      75px 75px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 
